parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\|bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Yproximite\\\\IovoxBundle\\\\DependencyInjection\\\\IovoxExtension\\:\\:load\\(\\) has parameter \\$configs with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/IovoxExtension.php

		-
			message: "#^Call to an undefined method iterable\\<int, Symfony\\\\Component\\\\Validator\\\\ConstraintViolationInterface\\>&Symfony\\\\Component\\\\Validator\\\\ConstraintViolationListInterface\\:\\:__toString\\(\\)\\.$#"
			count: 1
			path: src/Exception/Api/ValidationPayloadException.php

		-
			message: "#^Method Yproximite\\\\IovoxBundle\\\\Serializer\\\\IovoxSerializer\\:\\:deserialize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer/IovoxSerializer.php

		-
			message: "#^Method Yproximite\\\\IovoxBundle\\\\Serializer\\\\IovoxSerializer\\:\\:serialize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer/IovoxSerializer.php

